<!-- form for index comment  -->
<table border = "1">
  <caption><h3>
    Отзывы на сотрудников<br>
    <%= $monat_array[@mond.num_monat.to_i] %>  <%= @mond.yahre %></h3>
    <%= @otdel %><%= $reestr_block_umblock[@mond.block_comment] %>
</caption>
  <thead>
  <tr>
    <th align="center">№</th>
    <th align="center">Фамилия</th>
    <th align="center">Имя</th>
    <th align="center">Должность</th>
    <th align="center">Отдел</th>
    <th align="center">Создать отзыв</th>
  </tr>
  </thead>
  <tbody>
    <% num = 0 %>
    <% @tabels.each do |f| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= num += 1 %></td>                                   <!-- гендиректору можно -->
      <td class="list_action"><%= link_to f.title, comments_show_path(f.id) %></td>
      <td align="left"><%= f.forname %></td>
      <td align="left"><%= f.kadr  %></td>
      <td align="center"><%= $otdel_long[f.num_otdel.to_i] %></td>
      <% if @mond.block_comment == 0  %>
        <td align="center"> <%= link_to "Написать", new_comment_path(f.id)  %></td>
      <%else %>
        <td align="center">---</td>
      <% end %>
    <%end %>
      </tr>
  </tbody>
</table>