<!DOCTYPE html>
<html>
<head><title>Начисление зарплаты главная</title>
  <h5><%= @page_title || "Главная" %></h5>
</head>

<body>
<div class="container">

  <div class="header">ООО "Геопласт Телеком"<br><h2>Начисление заработной платы</h2> </div>

  <div class="sidebar">
    <% if @glob_permition >0 %><%= render('welcome/form_glob_sidebar') %>
    <% else %>
      <% if  @permition > 0 %>
        <%= render('welcome/form_sidebar') %>
      <% else %>
        <%= render('form_passiv_sidebar') %>
      <% end %>
    <% end %>
  </div>

  <div class="content">
    <div>
      <h1><strong> Рабочий месяц<br>
        <%= $jetztmonat %>  <%= $jetzt_yahre %></strong><br></h1>
      Для начисления зарплаты необходимо иметь базу персонала
      и базу с текущим месяцем <br>
    </div>
  </div>
</div>
<div class="footer">&copy; Жиляев Юрий - jiliaevyp@gmail.coim</div>
</body>
</html>