<!-- render for show monat&yahre information -->
<br>
<table border="1" style="background-color: #b1f3d8" >
  <caption><h2> Текущий месяц<br>
    <%= $monat_array[$jetzt_num_monat] %>  <%= $jetzt_yahre %></h2>
    <% if @mond.block_mond == 0 %> (изменения разрешены) <%end %></caption>
  <thead>
   <% n = 0 %>
  </thead><color=background: #52c5dd>
  <tbody>
    <tr> <td><%= n += 1 %></td> <td>Рабочих дней</td>
                                <td align="center"><%= @mond.tag %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Рабочих часов</td>
                                <td align="center"><%= @mond.hour %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Коэф. сверхурочных</td>
                                <td align="center"><%= @mond.kfoberhour %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Подоходный налог (%)</td>
                                <td align="center"><%= sprintf("%0.00f %",@mond.kfnalog) %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Отчисления в соц.фонды (%)</td>
                                <td align="center"><%= sprintf("%0.00f %",@mond.procentsocial) %></td> </tr>
    <tbody></colorbackground:>
</table>