<html>
<head>
  <title>Просмотр исходных данных по месяцу</title>
  </head>
<body>
<div class="container">
  <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>

  <div class="sidebar">
    <% if $glob_permition >0 %>
      <%=render('welcome/form_glob_sidebar') %>
    <% else %>
      <%= render('welcome/form_sidebar') %>
    <% end %>
  </div>

  <div class="content_1_col">
   <%= render('form_mond') %>
     <ul><strong>
       <% if @access_edit >0 || $glob_permition > 0 %>
      <li><%= link_to 'Изменить', edit_mond_path(@mond) %><br></li>
      <li><%= link_to 'Назначить рабочим', set_monat_path(@mond) %><br></li>
       <% else %>
      <li> Изменить</li>
      <li> Назначить рабочим</li>
       <% end %>
       <% if @mond.block_mond == 0 && (@access_del >0 || $glob_permition > 0) %>
      <li><%= link_to 'Удалить', @mond, method: :delete, data:
              { confirm: 'Удалить месяц, Вы уверены?' } %></li>
       <% else %>
      <li> Удалить</li>
        <% end %>
      </strong></ul>
     <button class="button"><%= link_to 'Выход', monds_path %></button>
  </div>
</div>
</body>
</html>