<!-- render for print_tabels/index -->

<table border="1">
  <caption>
    <h3>Ведомость<br>
      <%= $monat_array[$jetzt_num_monat.to_i] %>    <%= $jetzt_yahre %> <br>
      Рабочих дней=<%=@mond.tag %> Часов=<%=@mond.hour %><br></h3>
    <% if @access_all_otdel > 0 %>Все отделы
      <% else %><%= $otdel_long[@real_admin.num_otdel.to_i] %> отдел<% end %>
  </caption>
  <thead>
  <tr>
    <th align="center">№</th>
    <th align="center"><%=  link_to 'Фамилия', tabels_path(format: $format_buchtabel, sort_by_name: "1")  %></th>
    <th align="center"><%=  link_to 'Должность', tabels_path(format: $format_buchtabel, sort_by_kadr: "1")  %></th>
    <% if @access_all_otdel > 0 %> <th align="center"><%=  link_to 'Отдел', tabels_path(format: $format_buchtabel, sort_by_otdel: "1")  %></th><% end %>
    <th align="center">Тариф (р/ч)</th>
    <th align="center">Отрабо  тано(ч)</th>
    <th align="center">С.Н.часы</th>
    <th align="center">Коман  дировка</th>
    <th align="center">Начислено </th>
    <th align="center">Б/лист</th>
    <th align="center">Отпуск</th>
    <th align="center">Вычет</th>
    <th align="center">Всего</th>
  </tr>
  </thead>
  <%num = 0 %>
  <tbody>
  <% @tabels.each do |f| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td align="center"><%= num += 1 %></td>
      <% if f.oklad > 0 %>
        <td align="left">  <%= link_to f.title, tabel_path(f, params[:format])  %></td>
      <% else %>
        <td align="left"><%= f.title %></td>
      <% end %>
      <td align="left">  <%= f.kadr %></td>
      <% if @level.access_all_otdel > 0 %><td align="left"><%= $otdel_long[f.num_otdel.to_i] %></td><% end %>
      <td align="center"><%= f.tarifhour    %></td>
      <% if f.oklad > 0 %>
      <td align="center"><%= f.hourmach     %></td>
      <td align="center"><%= f.oberhour     %></td>
      <td align="center"><%= f.reisetage %></td>
      <td align="right"> <%= sprintf("%0.02f", f.summa)       %></td>
      <td align="right"> <%= sprintf("%0.02f", f.krankengeld)  %></td>
      <td align="right"> <%= sprintf("%0.02f", f.urlaubgeld )     %></td>
      <td align="right"> <%= sprintf("%0.02f", f.minus)        %></td>
      <td align="right"> <%= sprintf("%0.02f", f.vsego )       %></td>
      <% else %>
        <td align="center" colspan="8"> <%= link_to 'Для расчетов необходимо начислить зарплату!',
                                                    tabels_path(format: $format_tabel) %></td>
      <% end %>

  <% end %>
  </tr>
  <%if @tabels %>
    <tr>
      <td align="center"><%= num += 1 %></td>
      <td>Итого</td>
      <td></td>
      <% if @level.access_all_otdel > 0 %><td></td><% end %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right"> <%= sprintf("%0.02f", @summa) %>      </td>
      <td align="right"> <%= sprintf("%0.02f",@sumkrankengeld) %></td>
      <td align="right"> <%= sprintf("%0.02f",@sumurlaub_geld) %>    </td>
      <td align="right"> <%= sprintf("%0.02f",@summinus) %>      </td>
      <td align="right"> <%= sprintf("%0.02f",@sumvsego) %>     </td>

    </tr>
  <%end %>
  </tr>
  </tbody>
</table>
