<!-- render for show @admin_level -->

<table border="1">
  <caption><h2>
    Администратор <br>
    <font color="red"><%= @personal.title %>   <%= @personal.forname %>   <%= @personal.fornametwo %></font><br>
       <%= @admin.email  %></h2>
    <h3>Доступ к странице <br>
      <font color="red"><%= $level_index_controller[@level.access_controller] %></font></h3>
  </caption>
    <thead>
    <% n = 0 %>
  </thead>
  <tbody>
    <% if @level.access_controller == $tabels %>
    <tr> <td><%= n += 1 %></td> <td>Уровень доступа</td>
      <td align="center"><%=  $level_format[@level.format] %></td> </tr>
  <% end %>
  <% if @level.access_controller == $tabels || @level.access_controller == $comments || @level.access_controller == $personals %>
    <tr> <td><%= n += 1 %></td> <td>Все отделы</td>
      <td align="center"><%= $access_show[@level.access_all_otdel.to_i] %></td> </tr>
  <%end %>
    <tr> <td><%= n += 1 %></td> <td>Блокировка страницы </td>
    <td align="center"><%= $access_show[@level.access_full.to_i] %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Доступ к таблице</td>
      <td align="center"><%= $access_show[@level.access_index.to_i] %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Просмотр</td>
      <td align="center"><%= $access_show[@level.access_show.to_i] %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Изменение</td>
      <td align="center"><%= $access_show[@level.access_edit.to_i] %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Новый</td>
      <td align="center"><%= $access_show[@level.access_new.to_i] %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Удаление</td>
    <td align="center"><%= $access_show[@level.access_del.to_i] %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Печать</td>
      <td align="center"><%= $access_show[@level.access_print.to_i] %></td> </tr>
    <tr> <td><%= n += 1 %></td> <td>Эл.почта</td>
      <td align="center"><%= $access_show[@level.access_email.to_i] %></td> </tr>
    <% if @level.access_controller != $tabels %>
    <tr> <td><%= n += 1 %></td> <td>Удалить</td>
      <td align="center"><%= $access_show[@level.access_del.to_i] %></td> </tr>
   <%end %>


</tbody>
</table>